<!DOCTYPE html>
<html>
<head>
  <title>About</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/homee.css">

</style>
</head>
<body>
    <div class="topnav">
  <a  href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/contact">Contact</a>
  <a class="active" href="/About">About</a>

</div>


<h1>MEET OUR GROUP MEMBER</h1>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/images/member1.jpg" alt="Pulkit" style="width:100%">
      <div class="container">
        <h2>PULKIT SAINI</h2>
        <p class="title">Back-End Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/images/member2.jpg" alt="Rohit" style="width:100%">
      <div class="container">
        <h2>ROHIT BHARTI</h2>
        <p class="title">Front-End Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>rohitkumar.thdc@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  


</body>
</html>
